#root {
  max-width: 1280px;
  width: 75%;
  margin: 0 auto;
  padding: 2rem 0 0 0;
}

::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-color: rgba(255,255,255,1);
  border-radius: 9999px;
  border-width: 1px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 9999px;
}
