.chat-selection {
    display: flex;
    flex-direction: column;

    box-sizing: border-box;

    padding: 1rem 0;

    flex: 1;
    overflow-y: auto;
}

.chat-item {
    position: relative;
    display: flex;
    gap: 0.5rem;
    align-items: center;

    margin: 0 1rem;
    border-radius: 0.5rem;

    font-size: smaller;

    cursor: pointer;

    transition: background-color 0.2s ease-in-out;
}

.chat-item:hover {
    background-color: #e5e5e5;
}

.active-chat-item {
    background-color: #efefef;
}

.active-chat-item:hover {
    background-color: #efefef;
}

.chat-buttons {
    position: absolute;
    border-radius: 0.5rem;
    display: flex;
    justify-content: end;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 3px;
    width: 40%;
    background: linear-gradient(
            to right,
            rgba(0, 0, 0, 0) 0%,
            #efefef 40%
    );
}

