.chat-selection {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;

    background-color: #d9d9d9;
    box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.08);

    display: flex;
    gap: 0.5rem;
    flex-direction: column;

    box-sizing: border-box;

    padding: 1rem;

    overflow-y: auto;

    min-width: var(--chat-selection-width);
    max-width: var(--chat-selection-width);
    transition: min-width 0.3s ease-in-out, max-width 0.3s ease-in-out;
}

.chat-item {
    display: flex;
    gap: 0.5rem;
    align-items: center;

    padding: 0.5rem;
    border-radius: 0.5rem;

    font-size: smaller;

    cursor: pointer;

    transition: background-color 0.2s ease-in-out;
}

.chat-item:hover {
    background-color: #e5e5e5;
}