.dashboard {
    background-color: transparent;
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;

    display: flex;
    gap: 1rem;
    flex-direction: column;

    max-width: 17vw;
    min-width: 17vw;
}
