.fixedBottom {
    position: fixed;
    bottom: 0;
    left: var(--sidebar-width);
    right: 0;

    padding-bottom: 4rem;

    display: flex;
    justify-content: center;

    transition: left 0.3s ease-in-out;

    background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0) 0%,
            rgba(239, 239, 239, 0.7) 90%
    );
}

.textContainer {
    width: 50vw;

    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.4), 0 2px 4px 0 rgba(0, 0, 0, 0.05);

    border: 2px solid transparent;
    padding: 0 0 0 8px;
    position: relative;
    display: flex;
    align-items: start;
    cursor: text;
}

.buttonContainer {
    padding: 4px;
    display: flex;
    align-items: start;
    flex-direction: row;
}

.textArea {
    width: 100%;
    margin: auto 0;
    padding: 8px 8px;
    border: none;
    resize: none;
    font-size: 16px;

    background: none;
}

.textArea:focus {
    outline: none;
    caret-color: transparent;
}

.window-focused .textArea:focus {
    outline: none;
    caret-color: auto;
}

.window-focused .textContainer:focus-within {
    border-color: #007bff;
/*    border-color: #ffb700; */
    box-shadow:
            0 3px 5px rgba(0, 0, 0, 0.1);
}
