.fixedBottom {
    position: fixed;
    bottom: 4rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 700px;
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.12);
}

.textContainer {
    border-radius: 1rem;
    border: 1px solid #ccc;
    padding: 0 0 0 16px;
    position: relative;
    display: flex;
    align-items: start;
    cursor: text;
}

.buttonContainer {
    padding: 8px;
    display: flex;
    align-items: start;
    flex-direction: row;
}

.textArea {
    width: 100%;
    margin: auto 0;
    padding: 16px 0;
    border: none;
    resize: none;
    font-size: 16px;

    background: none;
}

.textArea:focus {
    outline: none;
}

.textContainer:focus-within {
    border-color: #007bff;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
}