.container {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
}

.placeholder {
    width: 100%;
    height: auto;
    object-fit: cover;
    visibility: hidden;
}

.fade-enter {
    opacity: 0;
    z-index: 1;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 1000ms ease-in;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 1;
}
