.timer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1a1a1a;
    color: #fff;
    border-radius: 8px;
    padding: 10px;
}

.time {
    font-size: 2em;
    letter-spacing: 0.05em;
    font-family: 'Courier New', Courier, monospace;
}