.timer {
    display: flex;
    flex-direction: row;
    align-items: center;

    background: rgba(30, 30, 30, 0.8);
    color: #fff;

    border-radius: 0.5rem;
    padding: 0.6rem 1rem;
    gap: 0.6rem;

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.12);
}

.timer-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 0.75em;
}

.timer-icon {
    margin: auto 0;
    width: 1.5rem;
    height: 1.5rem;
}

.timer-time {
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 0.05em;
    font-family: 'Courier New', Courier, monospace;
}

.timer-remove {
    margin-left: auto;
    cursor: pointer;
}