.chat-selection {
    box-sizing: border-box;

    padding: 1rem 0;

    flex-grow: 1;
    overflow-y: auto;
    overscroll-behavior: contain;
}

.chat-selection::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,0.3);
}

.chat-selection::-webkit-scrollbar-track {
    background-color: transparent;
}

.chat-buttons {
    position: absolute;
    border-radius: 0.5rem;
    display: flex;
    justify-content: end;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 3px;
    width: 40%;
    background: linear-gradient(
            to right,
            rgba(0, 0, 0, 0) 0%,
            #efefef 40%
    );
}

