// The following configuration is required:

// By configuring the endpoints below, you can use a server with OpenAI compatible REST API:
export const completionsApiKey = "<The API Key used for /completions endpoint>";

//export const completionsApiUrl = "http://localhost:5173/mistral/"; // Proxy for https://api.mistral.ai/v1/ due to CORS issues, see vite.config.ts
//export const completionsApiUrl = "http://localhost:8080/v1"; // LocalAI server, which needs to be started with --cors
export const completionsApiUrl = "https://api.openai.com/v1";

export const speechApiKey = "<The API Key used for tts and stt endpoints>";
export const speechApiUrl = "https://api.openai.com/v1";

//export const modelName = "mistral-large-latest";
export const modelName = "gpt-4-turbo-preview";
export const useTools = true;
export const useStreaming = true;

// All the following API keys are optional, and are only required if you want to use the corresponding features.

// Your picovoice.ai Access Key:
export const PicoVoiceAccessKey = "";

// Your openweathermap.org API Key:
export const OpenWeatherMapApiKey = "";

// Your newsapi.org API key:
export const NewsApiOrgKey = "";

export const GoogleApiKey = "<Your googleapis.com API key>";
export const GoogleClientId = "XXX.apps.googleusercontent.com";
export const GoogleClientSecret = "<Your OAuth2 Client Secret/Key>";
export const GoogleCustomSearchEngineId = "<ID of your custom google search engine configured for global search>";
export const GoogleProjectId = "<Your Google Cloud Console project ID>";

export const SpotifyClientId = "<Your Spotify Client ID>";

export const MicrosoftClientId = "<Your Azure App Client ID>";
